.container {
    display: grid;
    grid-template-columns: [firstColumn] 1fr [secondColumn] 1fr [thirdColumn] 1fr [fourthColumn] 1fr [fifthColumn] 1fr [end];
    grid-template-rows: [firstRow] 100px [secondRow] 100px [thirdRow] 100px;
    border: 0.1em solid blue;
}

.containerRepeat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 0.1em solid yellow;
}

.containerFrPxMixed {
    display:grid;
    grid-template-columns: 1fr 50px 1fr 1fr; /*each 1fr takes up one third of the total space minus 50px*/
}

.box {
    border:0.1em solid red;
}
