body {
    width: 750px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    z-index: 3;
}
h1 {
    background-color: blue;
    padding: 10px;
}
p {
    width: 850px;
}

p.example {
    position:absolute;
    top:10px;
    left:700px;
    z-index: 2;
}
