body {
    width: 750px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
h1 {
    background-color: blue;
    padding: 10px;
}
p {
    width: 850px;
}

p.example {
    position:relative;
    top:10px;
    left:100px;
}
